<h1 class="h3">Shorten your URLs</h1>
<form action="/shortLink" method="post">
    <div class="form-group">
        <label for="longUrl">URL</label>
        <input type="url" class="form-control" id="longUrl" name="longUrl" aria-describedby="urlHelp"
               placeholder="https://google.com"/>
        <small id="urlHelp" class="form-text text-muted">Enter your long URL to shorten</small>
    </div>
    <button type="submit" class="btn btn-primary">Shorten!</button>
</form>